* {
  outline: dotted red 1px;
}
body {
  background-color:azure;
  margin: 0;
  padding: 0;
}
h1, h2
 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-size: cover;
  background-color: rgb(28, 51, 51);
  background-position: 2%;
  font-size: xx-large;
}
header h1 {
  display: flex;
  background-color: azure;
  padding: 5px 1% 5px 6%;
margin: 5px;
  font-weight: bold;
  line-height: 1;
  flex-wrap: wrap;
  text-decoration: underline rgb(28, 51, 51);
  color:rgb(28, 51, 51);
  font-size: 300%;


}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  letter-spacing: 3px;
  justify-content: space-around;
  background-color: rgb(28, 51, 51);
  color:azure;
  font-size: xx-large;
}
nav a {
  display: flex;
  margin-left: 30px;
  flex-direction: row;
  letter-spacing: 3px;
  justify-content: space-around;
  background-color: rgb(28, 51, 51);
  color:azure;
  font-size: xx-large;
}

.two a:hover {
  cursor: pointer;
  background-size: 100% 100%;
  color: crimson;
}
.two a:active {
  cursor: grabbing;
}

.hero {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: x-large;
  background-size: cover;
  background-image: url("C:/Users/andre/assignment-2/images/screen2.jpg");
  background-position: 2%;
  color:azure;
}
.hero h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  color:azure;
  font-family: "Times New Roman", Times, serif;
  font-size: 180%;
  text-decoration: underline overline rgb(92, 253, 253);
  background-color: rgb(28, 51, 51);
  margin-top: 0;
  padding: 5px;
  line-height: 1.2;
}

.cc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: x-large;
  margin: 35px 0 rgb(28, 51, 51);
  width: 30px 0;
  background-color:rgb(28, 51, 51);
  color: rgb(28, 51, 51);
}

.cc h2 {
  font-size: 350%;
  text-decoration: underline rgb(28, 51, 51);
  background-color:azure;
  padding: 5px 1% 5px 6%;
  margin: 5px;
}
.cc2 .div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#work h2 {
  display: flex;
  text-decoration: underline;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-right:azure;
}
.cc p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px,;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 8px;
  background-color: azure;
  margin:azure;
}
div p {
  background-color: azure;


}

.cc2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin:0.5em;
 padding: 0 0 20px 0;
  width: 30px 0;
  background-color: rgb(28, 51, 51);
  color:azure;
  font-size: 250%;
}
.cc2 > div {
  flex: 0 0 77%;
}
.gfgx{
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}
.gfgx:first-child {

  min-height: 400px;
  flex-basis: 100%;
}

.bottom-right {
  position: absolute;
  border-style: round;
  flex-wrap: wrap;
  bottom: 18px;
  right: 16px;
  color:azure;
}

.cc2 h2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2%;
  margin-right: 2%;
  background-color: rgb(28, 51, 51);
  font-size: 250%;
  color:azure;
}


.gfg2 {
  display: flex;
  flex-direction: row;
  background-image: "https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80";
  width: 500px;
  height: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  background-color: darkslategrey;
  color: red;
}
.gfg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;

  position: relative;
  background-color: darkslategrey;
}

.gfgx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  height: 80px;

  position: relative;

  background-color: darkslategrey;
}
.gfg2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 250px;

  position: relative;

  background-color: darkslategrey;
}

.gfg :active {
  cursor: grabbing;
}

.gfg2 :hover {
  position: relative;
  cursor: pointer;
  opacity: 85%;
}
.gfg2 :active {
  cursor: grabbing;
}
.bottom-right2 {
  position: absolute;
  cursor: pointer;
  background-color: rgb(28, 51, 51);
  flex-wrap: wrap;
  opacity: 85%;
  bottom: 18px;
  right: 16px;
  text-decoration: underline;
}
.bottom-right2 :active {
  cursor: grabbing;
}


.gfg :hover {
  position: relative;
  cursor: pointer;
  opacity: 85%;
}
.gfg :active {
  cursor: grabbing;
}
.cc2.h2 {
  display: flex;
}

.cc3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 200%;
  margin: 35px 0;
  width: 30px 0;
  background-color: rgb(28, 51, 51);
  color:azure;
  text-decoration: none;
}
.cc3 h2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  flex-wrap: wrap;
  background-color: rgb(28, 51, 51);
  font-size: 250%;
  text-decoration: underline;
}
aside {
  font-size: large;
  color: rgb(92, 253, 253);
}

footer {
  color: black;
  flex-wrap: wrap;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
}
